.searchBar {

    padding: 100px;

    #buttons {
        margin-top: 25px;
    }

}

.loading {

    width: 100px;
    height: 100px;

    align-items: center;
    text-align: center;
    justify-content: center;
}